.navbar__logo {
  transition: color 250ms var(--cubic);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  -webkit-transition: color 250ms var(--cubic);
  -moz-transition: color 250ms var(--cubic);
  -ms-transition: color 250ms var(--cubic);
  -o-transition: color 250ms var(--cubic);
&:focus {
  color: var(--accent-color);
}
}
.navbar__logo-text {
  color: var(--accent-color);
}